include search.pug

-
  var chat = [
    {
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "/images/avatar_4.jpg",
      messages: [
        {
            id: 1,
            chatID: 2,
            text: "o_O",
            time: "11:45",
        },
      ]
    },
    {
      name: "Джедай Падаванов",
      status: "Был онлайн вчера",
      avatar: "/images/avatar_2.jpg",
      messages: [
        {
            id: 1,
            chatID: 3,
            text: "Привет, скоро третий проект? Уже скоро надо будет выложить",
            time: "10:12",
        },
      ]
    }, 
    {
      name: "Алексей Примадонин",
      status: "Онлайн",
      avatar: "/images/avatar_3.jpg",
      messages: [
        {
            id: 1,
            chatID: 1,
            text: "Тесты уехали >_<",
            time: "00:53",
        },
      ]
    },
  ];

div.tab-pane.fade.show#chats(role="tabpanel" aria-labelledby="chats-tab" class={active: url === 'chat'})
    h1.h2.fw-bold Чаты
    +search("Поиск по сообщениям")
    each contact in chat 
        div 
            a(href="chat.html").mb-3.d-flex.align-items-center.contact.g-0.link-left
                include avatar.pug
                .p-4.flex-grow-1.text-truncate
                    .d-flex.justify-content-between
                        p.fw-bold.text-dark= contact.name 
                        p.text-muted.small= contact.messages[0].time
                    p.small.text-secondary.text-truncate= contact.messages[0].text
                   
