-
  var contact = {
      name: "Вениамин Редакторович",
      status: "Онлайн",
      avatar: "/images/avatar_4.jpg"
  }

div.row.align-items-center.g-0.border-bottom
    img(src=contact.avatar, alt="avatar").col-auto.avatar.m-3.me-0
    .col.p-4 
        p.fw-bold.mb-0= contact.name 
        p.small.text-secondary= contact.status