a(href="chat.html").mb-3.row.align-items-center.contact.g-0.link-left
    img(src=contact.avatar, alt="avatar").col-auto.avatar.m-3
    .col.p-4 
        p.fw-bold.mb-0= contact.name 
        p.small.text-secondary= contact.status