
nav.menu.order-sm-2.d-flex 
    //- img(src="./images/icons/logo.svg", alt="")
    p
        //- include ../../images/icons/logo.svg
    ul.nav.nav-tabs#myTab(role="tablist")
        li.nav-item(role="presentation") 
            button.nav-link.d-flex.active#contacts-tab(data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="true")
                img(src="./images/icons/people.svg", alt="")
                p Контакты
        li.nav-item(role="presentation")
            button.nav-link.d-flex#chats-tab(data-bs-toggle="tab" data-bs-target="#chats" type="button" role="tab" aria-controls="chats" aria-selected="false")
                img(src="./images/icons/chat/svg", alt="")
                p Сообщения 
        li.nav-item(role="presentation") 
            button.nav-link.d-flex#profile-tab(data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false")
                img(src="./images/icons/person", alt="")
                p Профиль
        