.d-flex.mx-5.p-2.sticky-bottom.bg-white.my-2.border-top 
    input(type="text" placeholder="Напишите сообщение...").form-control.border-0.input_search
    button.p-3.bg-primary.radius-2
        img(src="/images/icons/cursor.svg", alt="send button").w-4