.d-flex.align-items-center.flex-column.justify-content-center.h-100
    img(src="/images/avatar_1.jpg", alt="avatar").rounded-circle
    p.text-dark.fw-bold Привет, Кодовёнок
    p.text-secondary.small Выбери чат, чтобы начать общаться