doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel='stylesheet' href='./app.css')
    body 
        .container.vh-100.overflow-hidden.d-flex.m-auto.wrapper.p-0
            .h-100.p-0.d-flex.leftside.flex-column-reverse
                include components/header.pug
                include components/leftSide/index.pug
            include components/rightSide/index.pug        