doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chat
        link(rel='stylesheet' href='./app.css')
    body 
        .container.vh-100.overflow-hidden.row.position-relative.m-auto.wrapper
            include components/header.pug
            include components/leftSide/index.pug
            include components/rightSide/index.pug        