- const url = 'main';

doctype html
html(lang="en")
    include components/head.pug
    body.h-100 
        .container-xxl.vh-100.bg-gray.p-0.p-md-4
            .overflow-hidden.row.mx-0.rounded-0.rounded-md-4.bg-white.h-100
                .h-100.p-0.d-flex.flex-column.col-12.col-md-7.col-lg-6.col-xl-5.col-xxl-4.border-end.left-side
                    include components/header.pug
                    .h-100.px-4.pt-5.hide_scroll.tab-content#myTabContent.order-1.order-sm-2
                        include components/contacts.pug
                        include components/chats.pug
                        include components/profile.pug
                .h-100.col.p-0
                    include components/started.pug
