@use "sass:map";

@import "./bootstrap.scss";
@import "./utilites/color-utilite.scss";
@import "./variables.scss";
@import "./components/header.scss";
@import "./components/contacts.scss";
@import "./components/avatar.scss";
@import "./components/left.scss";
@import "fonts";

* {
    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;

    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: $regular;
}


a {
    text-decoration: none;
}

p {
    margin: 0;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-gray {
    background-color: map.get($theme-colors, "gray");
}

.link-left:hover {
    background-color: map.get($theme-colors, "primary");
    color: map.get($theme-colors, "light");
}

.link-left {
    color: map.get($theme-colors, "dark");
}

.logo {
    height: 40px;
    width: 25px;
    align-self: center;
}





