@import "./bootstrap.scss";
@import "./utilites/color-utilite.scss";
@import "./variables.scss";
@import "./components/header.scss";
@import "./components/contacts.scss";
@import "./components/avatar.scss";
@import "fonts";

* {
    margin: 0;
    padding: 0;

    border: 0;
    outline: 0;

    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: $regular;
  }



a {
    text-decoration: none;
}

.wrapper {
    border: 1px $border-base solid;
    border-radius: $border-radius-base;
}

